html {
    background-color:#fafafa;
    background-color:#eee;
}
body {   
    background-color:#fafafa;
    background-color:#eee;
    padding-top: 50px;
    padding-bottom: 20px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar-brand {
    padding: 15px 15px;
}

h4 a{
    text-decoration: none !important;
    color:rgba(0,0,0,0.87);
    font-weight:400;
}

.media-body h5 {
    /*font-size: 14px;*/
    font-weight: normal;
    color: rgba(0,0,0,0.56);
    /*font-family: 'Open Sans';*/
}


.circle {
    margin-left:8px;
    margin-right:8px;
    width:40px;
    height:40px;
    border-radius:50%;
    font-size:24px;
    font-weight:100;
    color:#fff;
    line-height:36px;
    text-align:center;
    background-color:#3f51b5;
    background-color:#2196f3;
    background-color:#536DFE;
    background-color:#a0a0a0;    
    background-color:#607D8B;
    background-color:#FF6E40;
    background-color:#C5CAE9;
    background-color:#9FA8DA;
    background-color:#7986CB;
    
    
    /*vertical-align:middle;
    padding-top:4px;
    padding-bottom:8px;*/

}
.page-header {
    /*padding-bottom: 9px;*/
    margin: 0 0 20px;
}

.shadow-z-1 {
    box-shadow: 
        0 1px 3px rgba(0,0,0,0.12), 
        0 1px 2px rgba(0,0,0,0.24);
}

.shadow-z-2 {
    box-shadow: 
        0 3px 6px rgba(0,0,0,0.16),
        0 3px 6px rgba(0,0,0,0.23);
}

.navbar {
    font-size:16px;
    font-weight:400;
    /*box-shadow:
    0 5px 11px 0 rgba(0, 0, 0, 0.18),
    0 4px 15px 0 rgba(0, 0, 0, 0.15);*/

    /*box-shadow: 0 2px 5px rgba(0,0,0,0.26);*/
    border:none;
    /*box-shadow: 
        0 3px 6px rgba(0,0,0,0.16), 
        0 3px 6px rgba(0,0,0,0.23);*/

    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    /*left: 0;
    right: 0;*/
    /*top: -192px;*/
    /*z-index: 1;*/
    /*position: fixed;*/
}
.navbar-inverse {
    background-color:#2196f3;
    background-color:#3f51b5;    
}

.navbar-inverse .navbar-brand {
    /*color: #9d9d9d;*/
    color: #efefef;  
    color: #eee;  
}

.navbar-header {    
    border-bottom:2px solid #2196f3;
    border-bottom:2px solid #3f51b5;
}

.navbar-inverse .navbar-nav>a, .navbar-inverse .navbar-nav>a:hover, .navbar-inverse .navbar-nav>a:focus {
 
    color: #fff;
    /*background-color: #080808;*/    
    border-bottom:2px solid #2196f3;
    border-bottom:2px solid #3f51b5;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;    
    background-color:#2196f3;
    background-color:#3f51b5;
    /*background-color: #080808;*/
    border-bottom:2px solid #ffab40;
    border-bottom:2px solid #ffd740;
    border-bottom:2px solid #FF6E40;
}

.navbar-inverse .navbar-nav>li>a {
    /*color: #9d9d9d;*/
    color: #ddd;    
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 26px;
        padding-bottom: 14px;
    }
}

.btn-primary {
    color: #fff;
    background-color: #FF6E40;
    /*border-color: #DD2C00;*/
    border: none;
    /*background-color: #337ab7;*/
    /*border-color: #2e6da4;*/
}

.btn-primary:hover {
    color: #fff;
    background-color: #DD2C00;
    /*border-color: #DD2C00;*/
    border: none;
    /*background-color: #337ab7;*/
    /*border-color: #2e6da4;*/
}

/*.shadow-z-1() {
  box-shadow:
    0 1px 6px 0 rgba(0, 0, 0, 0.12),
    0 1px  6px 0 rgba(0, 0, 0, 0.12);
}

.shadow-z-1-hover() {
  box-shadow:
    0 5px 11px 0 rgba(0, 0, 0, 0.18),
    0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.shadow-z-2() {
  box-shadow:
    0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shadow-z-3() {
  box-shadow:
    0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.shadow-z-4() {
  box-shadow:
    0 16px 28px 0 rgba(0, 0, 0, 0.22),
    0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.shadow-z-5() {
  box-shadow:
    0 27px 24px 0 rgba(0, 0, 0, 0.2),
    0 40px 77px 0 rgba(0, 0, 0, 0.22);
}*/


/* Shadows (from mdl http://www.getmdl.io/) */

/*
 // Focus shadow mixin.
.focus-shadow() {
  box-shadow: 0 0 8px rgba(0,0,0,.18),0 8px 16px rgba(0,0,0,.36);
}

.shadow-2dp() {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, @mdb-shadow-key-penumbra-opacity),
  0 3px 1px -2px rgba(0, 0, 0, @mdb-shadow-key-umbra-opacity),
  0 1px 5px 0 rgba(0, 0, 0, @mdb-shadow-ambient-shadow-opacity);
}
.shadow-3dp() {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, @mdb-shadow-key-penumbra-opacity),
  0 3px 3px -2px rgba(0, 0, 0, @mdb-shadow-key-umbra-opacity),
  0 1px 8px 0 rgba(0, 0, 0, @mdb-shadow-ambient-shadow-opacity);
}
.shadow-4dp() {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, @mdb-shadow-key-penumbra-opacity),
  0 1px 10px 0 rgba(0, 0, 0, @mdb-shadow-ambient-shadow-opacity),
  0 2px 4px -1px rgba(0, 0, 0, @mdb-shadow-key-umbra-opacity);
}
.shadow-6dp() {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, @mdb-shadow-key-penumbra-opacity),
  0 1px 18px 0 rgba(0, 0, 0, @mdb-shadow-ambient-shadow-opacity),
  0 3px 5px -1px rgba(0, 0, 0, @mdb-shadow-key-umbra-opacity);
}
.shadow-8dp() {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, @mdb-shadow-key-penumbra-opacity),
  0 3px 14px 2px rgba(0, 0, 0, @mdb-shadow-ambient-shadow-opacity),
  0 5px 5px -3px rgba(0, 0, 0, @mdb-shadow-key-umbra-opacity);
}

.shadow-16dp() {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, @mdb-shadow-key-penumbra-opacity),
  0  6px 30px 5px rgba(0, 0, 0, @mdb-shadow-ambient-shadow-opacity),
  0  8px 10px -5px rgba(0, 0, 0, @mdb-shadow-key-umbra-opacity);
}

.shadow-24dp() {
  box-shadow: 0  9px 46px  8px rgba(0, 0, 0, @mdb-shadow-key-penumbra-opacity),
  0 11px 15px -7px rgba(0, 0, 0, @mdb-shadow-ambient-shadow-opacity),
  0 24px 38px  3px rgba(0, 0, 0, @mdb-shadow-key-umbra-opacity);
}*/