@{
  ViewBag.Title = "Configuración Avanzada";
}

<h1>@ViewBag.Title</h1>
<hr />

<dl class="dl-horizontal">

  <dt>cfdiService: </dt>
  <dd>@ViewBag.cfdiService</dd>

  <dt>cfdiServiceTimeSpan: </dt>
  <dd>@ViewBag.cfdiServiceTimeSpan</dd>

</dl>

<div class="row">
  <div class="col-md-12">
    
      <a target="_blank" href="@Url.Action("GetTimbradoLog")" class="btn btn-primary">Timbrado Log</a>
    

  </div>
</div>
