@{
  ViewBag.Title = LocalizedStrings.Account_ConfirmYourAccount;
}

<h1>@ViewBag.Title</h1>

@*<p class="text-info">
    @LocalizedStrings.Account_PleaseCheckYourEmailAndConfirm
  </p>*@

<h4>@LocalizedStrings.Account_PleaseCheckYourEmailAndConfirm</h4>