@{
  ViewBag.Title = LocalizedStrings.Account_ResetPasswordConfirmation;
}

<hgroup class="title">
  <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
  <p>
    @LocalizedStrings.Account_ResetPasswordConfirmationLegend1 @Html.ActionLink(LocalizedStrings.Account_ClickHereToLogIn, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
  </p>
</div>
